#
# Copyright (C) 2022 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0
#

on init
    # Configure scheduler parameters
    write /proc/sys/kernel/sched_downmigrate 85
    write /proc/sys/kernel/sched_upmigrate 95
    write /proc/sys/kernel/sched_autogroup_enabled 0
    write /proc/sys/kernel/sched_walt_rotate_big_tasks 0

    # Setup runtime cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-5,7
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/restricted/cpus 2-5

    # Disable Core control
    write /sys/devices/system/cpu/cpu0/core_ctl/enable 0
    write /sys/devices/system/cpu/cpu6/core_ctl/enable 0
    
    # Enable idle state listener
    write /sys/class/drm/card0/device/idle_encoder_mask 1
    write /sys/class/drm/card0/device/idle_timeout_ms 100
    
on property:persist.sys.device_provisioned=1
    setprop dalvik.vm.dex2oat-cpu-set 0,1,2,3,4,5,7
    setprop dalvik.vm.dex2oat-threads 6
    setprop persist.sys.dalvik.multithread true
    setprop dalvik.vm.dex2oat-filter speed
