# Copyright (C) 2021 Paranoid Android
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

on init
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 5
    write /dev/stune/top-app/schedtune.prefer_idle 1

    # Setup runtime cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-5,7
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/restricted/cpus 2-5

    # Setup permission for Power HAL
    chown system system /dev/stune/top-app/schedtune.boost
    chown system system /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
    chown system system /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
    chown system system /sys/class/kgsl/kgsl-3d0/force_rail_on
    chown system system /sys/class/kgsl/kgsl-3d0/force_clk_on
    chown system system /sys/class/kgsl/kgsl-3d0/idle_timer
    chown system system /sys/class/devfreq/soc:qcom,cpubw/min_freq
    chown system system /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hyst_trigger_count
    chown system system /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hist_memory

    chmod 0664 /dev/stune/top-app/schedtune.boost
    chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
    chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
    chmod 0664 /sys/class/kgsl/kgsl-3d0/force_rail_on
    chmod 0664 /sys/class/kgsl/kgsl-3d0/force_clk_on
    chmod 0664 /sys/class/kgsl/kgsl-3d0/idle_timer
    chmod 0664 /sys/class/devfreq/soc:qcom,cpubw/min_freq
    chmod 0664 /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hyst_trigger_count
    chmod 0664 /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hist_memory

    # Configure scheduler parameters
    write /proc/sys/kernel/sched_downmigrate 85
    write /proc/sys/kernel/sched_upmigrate 95
    write /proc/sys/kernel/sched_autogroup_enabled 0
    write /proc/sys/kernel/sched_walt_rotate_big_tasks 0

    # Disable Core control
    write /sys/devices/system/cpu/cpu0/core_ctl/enable 0
    write /sys/devices/system/cpu/cpu6/core_ctl/enable 0
    
    # Enable idle state listener
    write /sys/class/drm/card0/device/idle_encoder_mask 1
    write /sys/class/drm/card0/device/idle_timeout_ms 100
